@model IEnumerable<StoreFrontApplication.DATA.EF.MovieDirector>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Director.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movy.MovieTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Director.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movy.MovieTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MovieDirectorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MovieDirectorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MovieDirectorID })
        </td>
    </tr>
}

</table>
