@model StoreFrontApplication.DATA.EF.Movie

@{
    ViewBag.Title = Model.MovieTitle + " Details";
}

<br />
<br />
<h2 class="text-center">@ViewBag.Title</h2>

<div class="formContainer w-25">
    <h4 class="text-center">
        @Html.DisplayFor(model => model.MovieTitle)
    </h4>
    <div class="row">
        <div class="col-md-6 text-right font-weight-bold">
            <p>@Html.DisplayNameFor(model => model.MovieTitle)</p>
            <p>@Html.DisplayNameFor(model => model.Price)</p>
            <p>@Html.DisplayNameFor(model => model.ReleaseDate)</p>
            <p>@Html.DisplayNameFor(model => model.MovieImage)</p>
            <p>@Html.DisplayNameFor(model => model.Description)</p>
            <p>@Html.DisplayNameFor(model => model.Genre.GenreName)</p>
            <p>@Html.DisplayNameFor(model => model.Rating)</p>
        </div>

        <div class="col-md-6">
            <p>@Html.DisplayFor(model => model.MovieTitle)</p>
            <p>@Html.DisplayFor(model => model.Price)</p>
            <p>@Html.DisplayFor(model => model.ReleaseDate)</p>
            @*<p>@Html.DisplayFor(model => model.MovieImage)</p>*@
            <p>@Html.DisplayFor(model => model.Description)</p>
            <p>@Html.DisplayFor(model => model.Genre.GenreName)</p>
            <p>@Html.DisplayFor(model => model.Rating)</p>
        </div>
        <p>
            @using (Html.BeginForm("AddToCart", "Movies", new { @bookID = Model.MovieID }, FormMethod.Post, new { @class = "text-center" }))
            {
                @Html.HiddenFor(x => x.MovieID)
                <span class="label">Quantity: </span>
                @Html.TextBox("Qty", 1, new { @class = "form-control", style = "max-width: 50px;display: inline;" })
                <input type="submit" value="Add to Cart" class="btn btn-primary" name="qty" />
            }
        </p>
        <br/>
        <div class="detailsButtons">
            @Html.ActionLink("Edit", "Edit", new { id = Model.MovieID }, new { @class = "btn btn-primary pull-left" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger pull-right" })
        </div>
    </div>
</div>
<div class="col-md-6">
    <img src="~/Content/imgstore/books/@Model.MovieImage" alt="Movie cover" title="@Model.MovieTitle" />
</div>
<br />
<br />
<br />


